.footer{
    background-color: rgb(3, 3, 3);
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.image{
    color:white;
    padding-left:5% ;
}
.grid{
    padding-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.social{
    color: white;
    padding-right: 5%;
    
}
.contact{
    width: 100%;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    color: white;
}
.insta{
    padding-left:5px;
}

